{% comment %}
snippets/search-sidebar.liquid

Sidebar for the search page.

Accepts:
- Section {Object} Section Liquid object automatically passed.

Usage:
{%
  render 'search-sidebar'
%}
{% endcomment %}
<div class="collection__sidebar--wrapper sidebar search-sidebar">
  <form id="CollectionSidebarFiltersForm">
    <div class="collection__sidebar--sidebar__inner-wrapper {% if section.settings.is_sticky %}is_sticky{% endif %}">

      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'sidebar_filter' %}

              <!-- Filters -->
              <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
                {%- for filter in search.filters -%}

                  {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                  {% case filter.type %}


                    <!-- LISTS -->
                    {% when 'list' %}
                      {%
                        render 'sidebar-list-filter',
                        filter: filter,
                        block: block,
                        unique_id: "search-sidebar-mobile"
                      %}

                    <!-- PRICE RANGE -->
                    {% when 'price_range' %}
                      {%
                        render 'sidebar-price-range-filter',
                        filter: filter,
                        block: block,
                        unique_id: "search-sidebar-mobile",
                        cart: cart,
                        forloop: forloop
                      %}
                  {% endcase %}
                {%- endfor -%}
              </div><!-- /.collection__sidebar-block -->

            <!-- Menu -->
            {% when 'menu' %}
              {%
                render: 'sidebar-menu',
                block: block
              %}

            <!-- Image -->
            {% when 'image' %}
              {%
                render 'sidebar-image',
                block: block,
                forloop: forloop
              %}

            <!-- Text note -->
            {% when 'text_note' %}
              {%
                render 'sidebar-text',
                block: block
              %}
          {% endcase %}
        {% endfor %}
      {% else %}
        <p>Error. No section blocks.</p>
      {% endif %}

    </div><!-- /.collection__sidebar--sidebar__inner-wrapper -->
  </form>
</div><!-- /.sidebar -->
