{%- liquid

  assign featured_image = blank
  assign full_width = false

  if collection.image
    assign featured_image = collection
  elsif section.settings.image
    assign featured_image = section.settings.image
  endif

  if section.settings.display_wide
   assign full_width = true
  endif

-%}

{%- if featured_image != blank -%}
  <section class="collection_banner_custom" data-aos="fade"
  data-section-id="{{ section.id }}" >
      <div class="row">
          <div class="col-6 content-part padding_left_sp">
            <h2>{{ section.settings.title }}</h2>
            <p>{{ section.settings.content }}</p>
          </div>
          <div class="col-6">
            {% render 'basic-responsive-image', type: featured_image, width: auto, loading: 'eager' %}
          </div>
      </div>
  </section>
  
{%- endif -%}

{% schema %}
{
  "name": "Collection banner Custom",
  "settings": [{
      "type": "paragraph",
      "content": "Shows the collection featured image as a banner above products. Override this by selecting a specific banner image for all collections or select a collection image metafield for a unique collection image."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image",
      "info": "1920px x 600px recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
     {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
     {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button text"
    }
  ]
}
{% endschema %}
