<section class="comparison_sec gridlock">
  <div class="row">
    <h2>Why Wild Goose Coffee Roasters?</h2>
    <p>We know there are plenty of choices when it comes to your coffee. What sets Wild Goose apart from the rest? </p>
    <div class="table_outer_wrap">
   

    <div class="table_wrapper">
      <div class="column_div">
        <h3 class="column_title">Features</h3>
        <ul>
          {% for block in section.blocks %}
            {% if block.settings.feature != blank %}
            <li>{{ block.settings.feature }}</li>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if section.settings.layout_mode1 =="smiley" %}
          {% render 'smiley_icon' %}
     
      {% endif %}
      {% if section.settings.layout_mode1 =="coffee" %}
          {% render 'coffee_icon' %}
     
      {% endif %}
      {% if section.settings.layout_mode1 =="icon" %}
          {% render 'icon_icon' %}
     
      {% endif %}
      
    </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Comparison Table",
	"settings": [
	{
            "type": "text",
            "id": "title",
            "label": "Heading",
			"default" : "Heading"
          },
      {
            "type": "richtext",
            "id": "subtext",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "layout_mode1",
            "label": "Layout",
            "options": [
              {
                "value": "smiley",
                "label": "Smiley"
              },
              {
                "value": "coffee",
                "label": "Coffee"
              },
              {
                "value": "icon",
                "label": "Icon"
              }
            ],
            "default": "smiley"
          }
         
	],
"blocks": [
      {
        "type": "comparisonitem",
        "name": "Comparison Item",
        "settings": [
		{
           "type": "text",
           "id": "feature",
           "label": "Feature"
			
         },
         
          {
            "type": "select",
            "id": "bigbrandcoffee",
            "label": "Big Brand Coffee",
            "options": [
              {
                "value": "no",
                "label": "No"
              },
              {
                "value": "yes",
                "label": "Yes"
              },
              {
                "value": "both",
                "label": "Both"
              }
            ],
            "default": "no"
          },
          {
            "type": "select",
            "id": "wildgoosecoffe",
            "label": "Wild Goose Coffee",
            "options": [
              {
                "value": "no",
                "label": "No"
              },
              {
                "value": "yes",
                "label": "Yes"
              },
              {
                "value": "both",
                "label": "Both"
              }
            ],
            "default": "no"
          },
          {
            "type": "select",
            "id": "otherindependent",
            "label": "Other Independent Roasters",
            "options": [
              {
                "value": "no",
                "label": "No"
              },
              {
                "value": "yes",
                "label": "Yes"
              },
              {
                "value": "both",
                "label": "Both"
              }
            ],
            "default": "no"
          }
        ]
      }
    ],
"presets": [
    {
      "name": "Comparison Table"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}