<section class="custom_faq gridlock">
  <div class="accordion-container">
    <h2>{{ section.settings.title }}</h2>
    {% for block in section.blocks %}
    <div class="set">
      <a>
        {{ block.settings.faqquestion }}
        <i class="fa fa-plus"></i>
      </a>
      <div class="content">
        {{ block.settings.faqanswer }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<script>
  jQuery(document).ready(function($) {
  $(".set > a").on("click", function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this).parent().removeClass("active");
      $(this)
        .siblings(".content")
        .slideUp(200);
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".set > a").removeClass("active");
      $(this).addClass("active");
      $(".content").slideUp(200);
      $(this)
        .siblings(".content")
        .slideDown(200);
      $(this).parent().addClass("active");
      $(".set > a").not(this).parent().removeClass("active");
    }
  });
});

</script>

{% schema %}
  {
    "name": "FAQ",
	"settings": [
	{
            "type": "text",
            "id": "title",
            "label": "Heading",
			"default" : "Heading"
          }
	],
"blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
		{
           "type": "text",
           "id": "faqquestion",
           "label": "FAQ Question"
			
         },
          {
            "type": "richtext",
            "id": "faqanswer",
            "label": "FAQ Answer"
          }
        ]
      }
    ],
"presets": [
    {
      "name": "FAQ"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}